<div class="container">
    <h2>List of movies and games</h2>
    <div class="col-md-8">
        <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Release Year</th>
        <th>Manage Reviews</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies"> 
        <td> {{movie.name}}</td>
        <td> {{movie.releaseYear}}</td>
        <td> <button (click)="manageReview(movie._id)" class="btn btn-warning">Manage Reviews</button></td>
        <td> <button (click)="editMovie(movie._id)" class="btn btn-warning">Edit</button></td>
        <td> <button (click)="deleteMovie(movie._id)" class="btn btn-danger">Delete</button></td>
       <tr>
   

    </tbody>
  </table>
    </div>
</div>

  
